/* Default: 3 columns */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive columns */
    gap: 10px;
    /* width: 100%;  */ 
    justify-items: stretch;
    align-items: center;
    margin: 0 auto;
    

    /* position: absolute;
    top: 0;
    left: 0; */
  }
  
  /* For smaller screens, use 2 columns */  
  /* @media (max-width: 768px) {
    .image-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  } */
  
  /* For very small screens, use 1 column */
  /* @media (max-width: 480px) {
    .image-grid {
      grid-template-columns: 1fr;
    }
  }
 */

  

  /* Define each image-item's size */
.image-item {
    position: relative;
    overflow: hidden; /* Hide parts of the image that overflow the container */
    width: 100%; /* Make the image-item fill its grid cell */
    padding-bottom: 100%; /* Maintain a 1:1 aspect ratio for the image container */

  }
  
  /* Style the images */
  .image-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/* Cover the container while maintaining aspect ratio */
    object-fit: cover; 
    margin: auto;

    opacity: 0; /* Initially hide images */
    transition: opacity 1s ease-in-out; /* Transition for fade-in effect */

  }

  img.fade-in {
    opacity: 1; /* Show images when they are visible */
  }